{
    "sheet_music": "sheet_music_01",
    "page": "page_001",
    "staffs": [
        {
            "index": 1,
            "name": "staff_001",
            "position": {
                "top": 1,
                "left": 1,
                "width": 1,
                "height": 1
            }
        }
    ]
}